
<div class="column">
    <div class="project">
        <p class="titleProj">Social Network simulation with Linked Lists on C language (2021)</p>
        <ul>
            <li>Implemented a linked list with C in order to use that library to simulate a social network. Each user was a node, and with every follow, the linked list incremented its size</li>
            <li>Had basic operations like following other users, which linked a node with another, stop following someone, which deleted a node from your main linked list.</li>
        </ul>
    </div>
    <div class="project">
        <p class="titleProj">Implementation of Huffman Tree in C (2021)</p>
        <ul>
            <li>Implemented the huffman algorithm to compress a string of text.</li>
            <li>Used an implementation of a hashmap in C to make a count of every character, then used a priority queue to store each node with it's character</li>
            <li>Made a father node for the first 2 nodes in PQ and made another PQ with them to traverse and get the compressed string.</li>
        </ul>
    </div>
    <div class="project">
        <p class="titleProj">Netflix clone with HTML, Bootstrap and Node.js (2022)</p>
        <ul>
            <li>Made a small netflix clone, retrieving each one of the movie files from a database in Mongo. And displaying it on a "movie" page with a video and details from a movie.
            </li>
            <li>Search by categories in a separate page, and a section of recommended.</li>
        </ul>
    </div>
    <div class="project">
        <p class="titleProj">Netflix clone with HTML, Bootstrap and Node.js (2022)</p>
        <ul>
            <li>Made a small netflix clone, retrieving each one of the movie files from a database in Mongo. And displaying it on a "movie" page with a video and details from a movie.
            </li>
            <li>Search by categories in a separate page, and a section of recommended.</li>
        </ul>
    </div>
    <div class="project">
        <p class="titleProj">E-Commerce with Node.js (2022)</p>
        <ul>
            <li>Made a basic E-commerce application using vanilla javascript, express for the API, and the router of express.</li>
            <li>Used browser session storage to store temporal data from a product when you click on it, and search it on data base</li>
            <li>Implemented Bootstrap library to give the styles to the web page.</li>
        </ul>
    </div>
    <div class="project">
        <p class="titleProj">Chess game on Java with graphic interface (2022)</p>
        <ul>
            <li>Did a player vs player experience of a chess game in Java with a graphic interface</li>
            <li>Utilized a singleton class for the board, made an abstract class named "Piece", and from that class every piece had it's own class that inherited the abstract methods.
            </li>
            <li>Used a linked list to track every piece of each side of the board</li>
        </ul>
    </div>
    
</div>
