* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}

.navBar {
    position: sticky;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 75px;
    background-color: #1c518a;
    color: #fff;
    padding: 10px;
}

.navBar .navLinks li a {
    display: inline-block;
    justify-content: center;
    color: white;
    margin-left: 50px;
    font-weight: bold;
}

.navBar .navLinks li a:hover {
    color: gray;
}

.blank {
    height: 30px;
    background-color: white;
    margin-bottom: 10px;
}

.searchBar {
    /* background-color: #333; */
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar input[type=text] {
    width: 800px;
    height: 30px;
    border-radius: 3px;
    margin-right: 10px;
}

button {
    background-color: white;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

button:hover {
    background-color: #0D47A1;
}


.mainBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainBody>.listNews {
    display: flex;
    justify-content: center;
    align-items: center;
}

#newsContent {
    width: 90%;
    padding: 16px;
    border: 1px solid rgb(207, 205, 205);
    border-radius: 8px;
    background-color: white;
    margin: 20px;
}

#newsContent h3 {
    font-weight: 600;
    margin-bottom: 8px;
}

#newsContent h4 {
    color: #70757a;
    margin-bottom: 8px;
}

#newsContent p{
    font-size: 14px;
    line-height: 1.5;
}

#newsContent img {
    float: left;
    margin-right: 16px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}