<div class="container">
  <div class="column">
    <div class="skill">
        <img src="../../assets/angularlogo.png" alt="">
        <p class="titleSkill">Angular</p>
    </div>
    <div class="skill">
        <img src="../../assets/flutterlogo.png" alt="">
        <p class="titleSkill">Flutter</p>
    </div>
    <div class="skill">
        <img src="../../assets/nodejs.png" alt="">
        <p class="titleSkill">Node.js</p>
    </div>
    <div class="skill">
        <img src="../../assets/mongolgo.png" alt="">
        <p class="titleSkill">Mongo DB</p>
    </div>
  </div>

  <div class="column">
    <div class="skill">
        <img src="../../assets/logo-javascript-2.png" alt="">
        <p class="titleSkill">JavaScript</p>
    </div>
    <div class="skill">
        <img src="../../assets/typescriptlogo.png" alt="">
        <p class="titleSkill">TypeScript</p>
    </div>
    <div class="skill">
        <img src="../../assets/pythonlogo.png" alt="">
        <p class="titleSkill">Python</p>
    </div>
    <div class="skill">
        <img src="../../assets/javalogo.png" alt="">
        <p class="titleSkill">Java</p>
    </div>
  </div>

</div>
