<div class="contacts">
<div class="row">
  <div class="column">
    <div class="block">
      <img src="../../../assets/fblogo.png" alt="fb">
      <h2><a href="https://www.facebook.com/NelsonIVL" target="_blank">Facebook</a></h2>
    </div>
    <div class="block">
      <img src="../../../assets/twitterlogo.png" alt="fb">
      <h2><a href="https://twitter.com/VargasNIVL" target="_blank">Twitter</a></h2>
    </div>
  </div>

  <div class="column">
    <div class="block">
      <img src="../../../assets/linkedin.png" alt="fb">
      <h2><a href="https://www.linkedin.com/in/nelson-i-vargas-lázaro-b594ab231/" target="_blank">LinkedIn</a></h2>

    </div>
    <div class="block">
      <img src="../../../assets/gmail.png" alt="fb">
      <a href="mailto:nelsonvrgs.l@gmail.com">
        <h2>Send Email</h2>
      </a>
    </div>
  </div>
</div>
</div>

