<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../assets/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>News App</title>
</head>

<body>

    <header class="navBar">
        <h2>NEWS APP</h2>
        <nav>
            <ul class="navLinks">
                <li> <a href="/">Inicio</a> </li>
            </ul>
        </nav>
    </header>


    <div class="blank"></div>

    <main>
        <section class="searchBar">
            <form action="noticias" method="GET">
                <input name="q" type="text" placeholder="Empieza a buscar...">
                <button>Buscar <i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </section>


        <section class="mainBody">
           
            {{{body}}}
          
        </section>

    </main>

    <footer></footer>


</body>


</html>