
<div class="row">
    <div class="imageIteso">
        <img src="../../../assets/iiteso.jpg" alt="ITESO">
    </div>

    <div class="title">
        <h3>Instituto Tecnológico y de Estudios Superiores de Occidente (2016-date)</h3>
    </div>

    <div class="university">
        <p>Desde el periodo de Otoño de 2016, he estado estudiando la carrera de ingeniería en sistemas en el ITESO. Una gran universidad que me ha enseñado
            bastante para crecer tanto profesionalmente como personalmente. Actualmente curso uno de mis últimos semestre en la universidad, esperando graduarme
            en primavera del año 2024.
        </p>
    </div>
</div>
